<h1><%= @book.title %></h1>
<p><%= @book.author %></p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Delete', @book, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back to Books', books_path %>
